<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="lib\packages" />
		<add key="repositoryPath" value="lib\packages" />
	</config>
	<packageRestore>
        <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
             Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-Integrated restore. -->
        <add key="enabled" value="True" />
		<add key="automatic" value="true" />
    </packageRestore>
</configuration>
